body {
    background-color: #303030;
    font-family: sans-serif;
}

.lesson {
    color: hsla(0, 0%, 100%, 0.829);
    display: block;
}

.lesson-content {
    margin-left: 400px;
    margin-right: 400px;
}

.course-lesson-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.course-lesson-description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 28px;
}

hr {
    border-color: transparent;
    height: 1px;
    background-color: white;
    transform: scaleY(.3);
}